services:
  - type: web
    name: bimasakti-fleet
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: DATABASE_URL
        value: file:./prisma/dev.db
      - key: NODE_ENV
        value: production
    healthCheckPath: /
    autoDeploy: true
